body {
  margin: 0;
  background: black;
  color: #666;
  font-family: Futura-CondensedExtraBold, sans-serif;
  text-align: center;
  font-size: 150px;
  line-height: 300px;
}

#time {
  color: #fff;
  font-size: 180px;
}